@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap);
* {
    margin: 0;
}
:root {
    /* For writing text on either the background or the primary color.*/
    --clr-fg: #efefef;

    /* For the UI background. */
    --clr-bg: #1c3e5b;

    /* Darker accent of the primary color. */
    --clr-pdark: #027bce;

    /* The primary blue color. */
    --clr-primary: #0495ff;

    /* Lighter accent of the primary color. */
    --clr-plight: #4bb3fd;
}
a {
    text-decoration: none;
    color: var(--clr-pdark);
}

body {
    padding-top: 44px;
    font-family: Rubik, sans-serif;
}
.page-wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;
}
.sections {
    margin-top: 0;
}
section {
    margin: 50px 0;
}
section:not(:nth-child(1)) {
    border-top: 5px solid var(--clr-plight);
    padding-top: 50px;
}
.nav-wrapper {
    position: absolute !important;
    right: 0 !important;
    top: 10px !important;
    user-select: none;
}
li {
    color: #343435;
}
.description div {
    margin-top: 20px;
}
strong {
    font-weight: 500;
}
.description ul li {
    margin: 7px 0;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
h1 {
    margin: 0;
    font-size: 30px;
    color: var(--clr-primary);
}
h2 {
    margin-bottom: 10px;
}
.knowledge p {
    margin: 10px 0;
}
p + p {
    margin: 10px 0;
}
@media (max-width: 1200px)
{
    .page-wrapper {
        width: 85%;
    }
}
@media (max-width: 850px)
{
    .nav-wrapper {
        display: block !important;
        position: static !important;
        margin: 10px 0 10px -10px !important;
    }
}