@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* For writing text on either the background or the primary color.*/
  --clr-fg: #efefef;

  /* For the UI background. */
  --clr-bg: #1c3e5b;

  /* Darker accent of the primary color. */
  --clr-pdark: #027bce;

  /* The primary blue color. */
  --clr-primary: #0495ff;

  /* Lighter accent of the primary color. */
  --clr-plight: #4bb3fd;
}
html,
body {
  width: 100%;
  font-family: Rubik;
  background-color: var(--clr-bg);
}

/* GLOBAL CLASSES */

a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: var(--clr-fg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; */
}
.upper-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 999;

  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: var(--clr-pdark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.nav ul {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav .socials {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}
.socials a {
  opacity: 0;
  transform: scale(0);
  transition: transform 500ms ease, opacity 500ms ease;
}
.socials-active a {
  opacity: 1;
  transform: scale(1.6);
  transition: 500ms ease;
  transition-delay: 0.5s;
}
.socials a:hover {
  transform: scale(1.6);
}
.nav li {
  list-style: none;
  font-size: 1.3em;
  transition: transform 0.5s ease;
  position: relative;
}
.nav a {
  color: white;
  text-decoration: none;
}

.nav li::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.nav li:hover {
  transform: scale(1.2);
}
.nav li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-active {
  opacity: 1;
  transform: scale(1);
}
.logo img {
  width: 180px;
  max-width: 100%;
  margin-top: 3px;
}
.ham-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.ham-active .line1 {
  transform: rotate(45deg);
  transform-origin: left;
  transition: 0.6s ease;
}
.ham-active .line2 {
  transform: translateX(10vh);
  transition: transform 0.5s ease;
}
.ham-active .line3 {
  transform: rotate(-45deg);
  transform-origin: left;
  transition: transform 0.6s ease;
}
.line {
  background-color: var(--clr-pdark);
  height: 3px;
  width: 25px;
  transition: transform 0.6s ease;

  transform-origin: left;
}
.line + .line {
  margin-top: 6px;
}
.landing {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  background-image: linear-gradient(
    180deg,
    var(--clr-pdark) 30%,
    var(--clr-plight) 100%
  );
  position: relative;
}
.landing .hero-desc,
.landing .cta-container {
  padding: 0 30px 0px 30px;
  color: white;
}
.landing .hero-img {
  text-align: center;
}
.landing .hero-img img {
  width: 250px;
  max-width: 100%;
  height: auto;
}
.hero-desc h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 92%;
  letter-spacing: -2px;
  color: white;
  margin: 20px 0;
  padding-right: 20px;
}
.hero-desc p {
  margin-bottom: 50px;
}
.cta {
  transition: margin 300ms ease;
}
.cta + .cta {
  margin-left: 10px;
}
.cta-download {
  background-color: var(--clr-pdark);
  padding: 10px 25px;
  border-radius: 3px;
}
.fa-download {
  margin-right: 7px;
}
.cta-faq {
  padding: 10px 30px;
  background-color: var(--clr-fg);
  color: var(--clr-pdark);
  border-radius: 3px;
}
.landing video {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: fill;
  z-index: 885;

  display: none;
}
.landing .arrow-down {
  font-size: 55px;
  margin-top: 100px;
  color: white;
  text-align: center;

  animation: bouncing 2s ease-in-out infinite backwards;
}
.arrow-down a {
  display: block;
  transform: rotate(90deg);
}
@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.features {
  padding: 70px 0;
  text-align: center;
}
.container {
  margin-top: -10px;
  border: 2px solid var(--clr-fg);
}
.big-cont {
  margin: 0 30px;
}
.big-cont + .big-cont {
  margin-top: 100px;
}
.desc {
  margin: 20px 0px;
  color: var(--clr-fg);
  font-weight: 400;
}
.desc h2 {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.desc p {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
  margin: 0 10px;
  margin-bottom: 0;
}

/* Media Queries */
@media (max-height: 750px) {
  .landing .arrow-down {
    display: none;
  }
}
@media (max-height: 650px) {
  .landing {
    height: 600px;
    max-height: 100%;
  }
  .hero-img {
    margin: 0 auto;
    width: 200px;
  }
}
@media (min-height: 850px) {
  .arrow-down a {
    margin-top: 150px;
  }
}
