@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* For writing text on either the background or the primary color.*/
  --clr-fg: #efefef;

  /* For the UI background. */
  --clr-bg: #1c3e5b;

  /* Darker accent of the primary color. */
  --clr-pdark: #027bce;

  /* The primary blue color. */
  --clr-primary: #0495ff;

  /* Lighter accent of the primary color. */
  --clr-plight: #4bb3fd;
}
html,
body {
  width: 100%;
  font-family: Rubik;
  background-color: #f5f6fa;
  overflow-x: hidden;
}

/* GLOBAL CLASSES */

a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
.s-heading {
  color: white;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -3px;
  text-transform: uppercase;
}
/* /GLOBAL CLASSES */
.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pre-loader-point {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-primary);
  animation: jump 700ms infinite;
}
.pre-loader-point:nth-child(1) {
  animation-delay: 0.1s;
}
.pre-loader-point:nth-child(2) {
  animation-delay: 0.2s;
}
.pre-loader-point:nth-child(3) {
  animation-delay: 0.3s;
}
.pl-hide {
  animation: fadeOut 700ms;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.pre-loader-point + .pre-loader-point {
  margin-left: 20px;
}
.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: var(--clr-fg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;

  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; */
}
.upper-wrapper {
  display: flex;
  width: 100%;
  height: 60px;

  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: -100vh;
  visibility: hidden;
  background-color: var(--clr-pdark);
  transform-origin: left;
}
.nav-active {
  transform-origin: left;
  right: 00vh;
  visibility: visible;
}
.nav ul {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav .socials {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}
.socials a {
  opacity: 0;
  transform: scale(0);
  transition: transform 500ms ease, opacity 500ms ease;
}
.nav-active .socials a {
  opacity: 1;
  transform: scale(1.6);
  transition: 500ms ease;
  transition-delay: 0.5s;
}
.socials a:hover {
  transform: scale(1.6);
}
.nav li {
  list-style: none;
  font-size: 1.3em;
  transition: transform 0.5s ease;
  position: relative;
  transform-origin: center;
}
.nav a {
  color: white;
  text-decoration: none;
  transform-origin: center;
}

.nav li::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.nav li:hover {
  transform: scale(1.2);
}
.nav li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.logo img {
  width: 180px;
  max-width: 100%;
  margin-top: 3px;
}
.ham-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 15px;

  cursor: pointer;
}
.ham-active .line1 {
  transform: rotate(45deg);
  transform-origin: left;
  transition: 0.6s ease;
}
.ham-active .line2 {
  transform: translateX(10vh);
  transition: transform 0.5s ease;
}
.ham-active .line3 {
  transform: rotate(-45deg);
  transform-origin: left;
  transition: transform 0.6s ease;
}
.line {
  background-color: var(--clr-pdark);
  height: 3px;
  width: 25px;
  transition: transform 0.6s ease;

  transform-origin: left;
}
.line + .line {
  margin-top: 6px;
}
.landing {
  width: 100%;
  height: 100vh;
  margin-bottom: -95px;
  padding-top: 90px;
  background-image: linear-gradient(
    180deg,
    var(--clr-pdark) 30%,
    var(--clr-plight) 80%
  );
  position: relative;
}
.t-shape {
  width: 100%;
  height: 200px;
  background-color: var(--clr-plight);
  position: absolute;
  bottom: -170px;
  clip-path: polygon(50% 0%, 100% 0, 100% 15%, 50% 35%, 0 15%, 0 0);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 15%, 50% 35%, 0 15%, 0 0);
}
.landing .hero-desc,
.cta-container {
  padding: 0 30px 0px 30px;
  color: white;
}
.landing .hero-img {
  text-align: center;
}
.landing .hero-img img {
  width: 250px;
  max-width: 100%;
  height: auto;
}
.hero-desc h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 92%;
  letter-spacing: -2px;
  color: white;
  margin: 20px 0;
  padding-right: 20px;
}
.hero-desc p {
  margin-bottom: 50px;
}
.cta {
  transition: margin 300ms ease;
}
.cta + .cta {
  margin-left: 10px;
}
.cta-download {
  background-color: var(--clr-pdark);
  padding: 10px 25px;
  border-radius: 3px;
}
.fa-download {
  margin-right: 7px;
}
.cta-faq {
  padding: 10px 30px;
  background-color: var(--clr-fg);
  color: var(--clr-pdark);
  border-radius: 3px;
}
video {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.6);

  display: none;
}
.landing .arrow-down {
  font-size: 55px;
  margin-top: 100px;
  color: white;
  text-align: center;

  animation: bouncing 2s ease-in-out infinite backwards;
}
.arrow-down a {
  display: block;
  transform: rotate(90deg);
}
@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.features {
  padding: 120px 0;
  text-align: center;
  z-index: 999;
}
.container {
  margin-top: -10px;
  border: 2px solid var(--clr-fg);
}
.container img {
  width: 100%;
  max-width: 500px;
}
.big-cont {
  padding: 0 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.big-cont:nth-child(2)::after,
.big-cont:nth-child(3)::after {
  content: '';
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 3px;
  top: -30px;
  left: 24.5%;
  background-color: rgb(161, 158, 158);
  position: absolute;
}
.big-cont + .big-cont {
  margin-top: 100px;
}
.desc {
  margin: 10px 0px;
  color: var(--clr-fg);
  font-weight: 400;
}
.desc h2 {
  font-size: 26px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.desc p {
  font-weight: normal;
  font-size: 16px;
  margin: 0 10px;
  margin-bottom: 20px;
  color: #292828;
}
.f-heading {
  display: inline;
  position: relative;
}
.f-intro {
  color: white;
  margin: 20px 0;
}
.f-intro p {
  color: rgb(214, 214, 214);
  font-size: 15px;
  padding: 0 20px;
}
.f-heading::before {
  content: '';
  position: absolute;
  top: 34px;
  left: 2px;
  height: 2px;
  width: 99%;
  background-color: #fff;
  transition: transform 0.5s ease;
  transform-origin: left;
}
/* Not found page */
.pnf-wrapper {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.pnf-wrapper h1 {
  color: var(--clr-primary);
  font-size: 120px;
  letter-spacing: -5px;
}
.pnf-wrapper p {
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 12px;
}
.pnf-wrapper a {
  color: var(--clr-primary);
}

/* Media Queries */
/* height */
@media (max-height: 750px) {
  .landing .arrow-down {
    display: none;
  }
}
@media (max-height: 650px) {
  .landing {
    height: 600px;
    max-height: 100%;
  }
  .hero-img {
    margin: 0 auto;
    width: 200px;
  }
}
@media (min-height: 850px) {
  .arrow-down a {
    margin-top: 150px;
  }
}
/* width */
@media (max-width: 640px) {
  .nav {
    transition: 500ms cubic-bezier(0.98, -0.25, 0.27, 1);
  }
  .landing {
    margin-bottom: -20px !important;
  }
}
@media (min-width: 650px) {
  .header,
  .upper-wrapper {
    height: 90px;
    display: flex;
  }
  .upper-wrapper {
    width: 50%;
    z-index: 9999;
  }
  .nav {
    background-color: unset;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    opacity: 1;
    visibility: visible;

    transition: none;
  }
  .nav .socials {
    display: none;
  }
  .nav ul {
    height: 90px;
    width: 350px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .nav li {
    font-size: 18px;
    cursor: pointer;
  }
  .nav li a {
    color: var(--clr-pdark);
  }
  .nav li::after {
    background-color: var(--clr-pdark);
  }
  .logo img {
    width: 230px;
  }
  .landing {
    background-image: none;
  }
  .ham-wrapper {
    display: none;
  }
  .landing {
    width: 100%;
    height: 110vh;
    background-image: url(../assets/img/tabl-bg2.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landing .hero-img {
    display: none;
  }
  .landing .hero-desc,
  .cta-container {
    padding: 0;
    margin-left: 15%;
  }
  .t-shape {
    /*height: 110%;
    bottom: -400px;
    object-fit: cover;
    background-color: #f5f6fa;
    clip-path: polygon(70% 0%, 70% 50%, 70% 100%, 41% 100%, 45% 49%, 41% 0%);
    transform: rotate(90deg);*/
    display: none;
  }
  .cta-container {
    padding: 0px !important;
  }
  .hero-desc h1 {
    margin-bottom: 15px;
    font-size: 60px;
  }
  .hero-desc p {
    font-size: 17px;
    max-width: 500px;
  }
  .cta-container {
    margin-top: 25px;
  }
  .cta {
    padding: 12px 30px;
  }
  .desc h2 {
    font-size: 35px;
  }
  .desc p {
    font-size: 20px;
  }
  .pnf-wrapper h1 {
    font-size: 150px;
  }
}
@media (min-width: 950px) {
  .t-shape {
    display: none;
  }
}
@media (min-width: 1050px) {
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .big-cont {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 500px 1fr;
  }
  .desc {
    grid-area: 1/2/1/2;
    text-align: left;
    margin-top: -10px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
  }
  .desc h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  .desc p {
    font-size: 18px;
    max-width: 500px;
  }
  .container {
    width: 500px;
  }
}
@media (min-width: 950px) {
  .header {
    width: 100%;
  }
  .nav ul {
    height: 90px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  .nav li {
    font-size: 20px;
    cursor: pointer;
  }
  video {
    display: block;
  }
  .landing {
    background-image: none;
  }
  .arrow-down {
    display: none;
  }
  .hero-desc h1 {
    font-size: 70px;
  }
  .hero-desc p {
    width: 500px;
    font-size: 22px;
  }
  .landing .hero-desc,
  .cta-container {
    padding: 0;
    margin-left: 20%;
  }
  .cta {
    font-size: 20px;
    padding: 12px 25px;
  }
  .cta + .cta {
    margin-left: 30px;
  }
  .big-cont:nth-child(2)::after,
  .big-cont:nth-child(3)::after {
    content: '';
    display: none;
  }
}
@media (max-width: 1000px) {
  .container img {
    width: 100%;
    max-width: 500px;
  }
  .container img:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1250px) {
  .cta {
    font-size: 22px;
    padding: 12px 30px;
  }
}
