@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-fg: #eff1f3;
  --clr-bg: #37393a;
  --clr-pdark: #de4f3f;
  --clr-primary: #ef852e;
  --clr-plight: #ffc247;
}

body {
  height: 100%;
  font-family: Rubik, sans-serif;
}

li,
#log-out {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

li.active {
  background-color: var(--clr-pdark);
  color: #ffffff;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 30px auto 0 auto;
  width: 60%;
}

#sidebar {
  height: 85vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

#sidebar ul {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar ul li,
#log-out {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 12px 20px;
  transition: color 0.2s ease,
    background 0.1s ease;
  user-select: none;
}

#sidebar ul li:hover,
#log-out:hover {
  color: #ffffff;
  background-color: var(--clr-pdark);
}

#sidebar li svg,
#log-out svg {
  margin-right: 10px;
}

#content {
  display: none;
}

@media (max-width: 1250px) {
  main {
    width: 100%;
  }
}