<footer>
   <div class="f-upper">
      <div class="f-desc">
         <img onclick="scrollToTop()" src="https://playdragonfly.net/assets/Dragon.svg" alt="">
         <p>Play like a monster. Play with Dragonfly.</p>
         <p>&copy; 2020 InceptionCloud Network</p>
      </div>
      <div class="links-wrapper">
         <div class="f-links">
            <h3>Useful links</h3>
            <ul>
               <li><a href="https://playdragonfly.net/">Home</a></li>
               <li><a href="https://playdragonfly.net/releasenotes/">Updates</a></li>
               <li><a href="https://playdragonfly.net/privacy">Privacy notice</a></li>
               <li><a href="https://playdragonfly.net/download">Download</a></li>
            </ul>
         </div>

         <div class="f-links">
            <h3>Latest updates</h3>
            <ul>
               <li><a href="">v1.3.0.0</a></li>
               <li><a href="">v1.2.0.0</a></li>
               <li><a href="https://playdragonfly.net/releasenotes/release/v1.1.0.0">v1.1.0.0 - Performance
                     Update</a></li>
               <li>
                  <a href="https://playdragonfly.net/releasenotes/release/v0.0.3.0-dev">v0.0.3.0-dev</a>
               </li>
               <li>
                  <a href="https://playdragonfly.net/releasenotes/release/v0.0.2.0-dev">v0.0.2.0-dev</a>
               </li>
               <li>
                  <a href="https://playdragonfly.net/releasenotes/release/v0.0.1.0-dev">v0.0.1.0-dev</a>
               </li>
            </ul>
         </div>
         <div class="f-links">
            <h3>Work with us</h3>
            <ul>
               <li><a href="https://inceptioncloud.net/de/apply/developer">Developer (German)</a></li>
               <li><a href="">Moderator</a></li>
               <li><a href="">Designer</a></li>
               <li><a href="">Content Creator</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="f-lower">
      <div class="f-socials">
         <h3>Follow us on social media to stay up to date</h3>
         <a class="f-insta" href="https://instagram.com/inceptioncloud">
            <ion-icon name="logo-instagram"></ion-icon>
         </a>
         <a class="f-twitter" href="https://twitter.com/inceptioncloud">
            <ion-icon name="logo-twitter"></ion-icon>
         </a>
         <a class="f-discord" href="https://icnet.dev/discord">
            <i class="fab fa-discord"></i>
         </a>
      </div>
   </div>
</footer>