<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <title>Login</title>
   </head>

   <body>
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

      <div id="id01" class="modal">

         <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
               <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
               <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
               <label for="uname"><b>Username</b></label>
               <input type="text" placeholder="Enter Username" name="uname" required>

               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" name="psw" required>

               <button type="submit">Login</button>
               <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
               </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
               <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">
                  Cancel
               </button>
               <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
         </form>
      </div>
   </body>

   <script>
       const form = document.getElementById("form")

       form.addEventListener('submit', event => {
           event.preventDefault()
           const formData = new FormData(form)
           const name = formData.get("name")
           const password = formData.get("password")
           const body = {
               "name": name,
               "password": password
           }

           fetch("https://api.inceptioncloud.net/login", {
               method: "POST",
               body: JSON.stringify(body),
               headers: {
                   "Content-Type": "application/json"
               }
           }).then(result => result.json())
               .then(result => {
                   if (result.success) {
                       const username = result.username
                       const token = result.token

                       localStorage.setItem('dragonfly-token', token)
                       console.log(token)

                       // handle login success
                   } else {
                       const error = result.error
                       console.log(error)
                       // handle login no success
                   }
               })
       });
   </script>

</html>