<div id="id01" class="modal">
   <form id="form-login" class="modal-content animate" method="post">
      <div onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;
      </div>

      <div class="container">
         <h2 style="text-align: center; margin-bottom: 10px;">Login</h2>
         <label for="name"><b>Username</b></label>
         <input type="text" placeholder="Enter Username" name="name" required>

         <label for="password"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" name="password" required>

         <button class="auth-submit" type="submit">Login</button>
         <span class="psw">Forgot <a href="#">password?</a></span>
         <span style="float: left;" class="psw">Don't have an account? <a href="#" onclick="toRegister()">Sign
               up</a></span>
      </div>
   </form>
</div>

<script>
   const formLogin = document.getElementById("form-login")
   const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      onOpen: (toast) => {
         toast.addEventListener('mouseenter', Swal.stopTimer)
         toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
   })
   formLogin.addEventListener('submit', event => {
      event.preventDefault()
      const formDataLogin = new FormData(formLogin)
      const name = formDataLogin.get("name")
      const password = formDataLogin.get("password")
      const body = {
         "name": name,
         "password": password
      }

      fetch("https://api.inceptioncloud.net/cookie/login", {
            method: "POST",
            body: JSON.stringify(body),
            headers: {
               "Content-Type": "application/json"
            },
            credentials: 'include'
         }).then(result => result.json())
         .then(result => {
            if (result.success) {
               console.log(result)
               const username = result.username

               Toast.fire({
                  icon: 'success',
                  title: 'Signed in successfully'
               })

               document.getElementById('id01').style.display = 'none'

               const container = document.getElementById("username-info")
               const pre = document.createElement("span")
               const post = document.createElement("span")
               const strong = document.createElement('strong')

               container.innerText = ""
               pre.innerText = "You are currently logged in as "
               strong.innerText = username
               post.innerText = ". Posts you create are marked with your name."

               container.appendChild(pre)
               container.appendChild(strong)
               container.appendChild(post)
            } else {
               const error = result.error
               console.log(error)
               Toast.fire({
                  icon: 'error',
                  title: result.error
               })
            }
         })
   });

   function toSignIn() {
      document.getElementById('id02').style.display = 'none'
      document.getElementById('id01').style.display = 'block'
   }

   function toRegister() {
      document.getElementById('id01').style.display = 'none'
      document.getElementById('id02').style.display = 'block'
   }
</script>