<div id="id02" class="modal">
    <form id="form-register" class="modal-content animate" method="post">
        <div onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">
            &times;
        </div>

        <div class="container auth">
            <h2 style="text-align: center; margin-bottom: 10px;">Register</h2>
            <label for="name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="name" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button class="auth-submit" type="submit">Sign up</button>
            <span style="float: left;" class="psw">Already have an account? <a href="#"
                    onclick="switchAuth('login')">Sign
                    in</a></span>
        </div>
    </form>
</div>