@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Rubik;
}

/* Full-width input fields */
.auth input[type=text],
.auth input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.auth-submit {
    background: #37393A;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-family: Rubik;
}

.auth-submit:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    font-family: Rubik;
}

.cancel {
    cursor: pointer;
    font-size: 22px;
    color: gray;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Rubik;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    font-family: Rubik;
}

b {
    font-weight: 500;
    font-family: Rubik;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    font-family: Rubik;
}

.container {
    padding: 60px 40px;
    font-family: Rubik;
}

span.psw {
    float: right;
    padding-top: 16px;
    font-family: Rubik;
}

span.psw a {
    color: #ef852e;
}

.hint {
    margin-top: 15px;
    opacity: 50%;
    font-size: 0.75rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: Rubik;
    z-index: 999;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 550px;
    max-width: 100%;
    position: relative;
    font-family: Rubik;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    font-family: Rubik;
}

.close:hover,
.close:focus {
    opacity: 0.7;
    cursor: pointer;
    font-family: Rubik;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.4s;
    animation: animatezoom 0.4s;
    font-family: Rubik;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}